<div class="row">
    <h1> Registration Form </h1>
    <form name="regForm" class="form" novalidate
          ng-submit="myCtrl.submit() && regForm.$valid">
        <!-- Fields: Email, Password, Name, Gender -->
        <div class="form-group">
            <label class="control-label" for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email"
                   ng-model="myCtrl.userObj.email" ng-required="true"
                   autocomplete="off">
            <div class="validation" data-ng-show="regForm.email.$touched || regForm.$submitted">
                <span data-ng-show="regForm.email.$error.required" class="validation-error">
                    Email is required
                </span>
                <span data-ng-show="regForm.email.$error.email" class="validation-error">
                        Invalid email
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="userPwd">Password :</label>
            <input type="password" class="form-control" id="userPwd" name="userPwd"
                   ng-model="myCtrl.userObj.password" ng-required="true"
                   autocomplete="off">
            <div class="validation" data-ng-show="regForm.userPwd.$touched || regForm.$submitted">
                <span data-ng-show="regForm.userPwd.$error.required" class="validation-error">
                    Password is required
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="name">Name </label>
            <input type="text" class="form-control" id="name" name="name"
                   ng-model="myCtrl.userObj.name" ng-required="true">
            <div class="validation" data-ng-show="regForm.name.$touched || regForm.$submitted">
                <span data-ng-show="regForm.name.$error.required" class="validation-error">
                    Name is mandatory
                </span>
            </div>
        </div>

        <div class="form-group">
            Gender
            <label class="radio-inline">
                <input type="radio" name="Gender"
                       value="male" ng-model="myCtrl.userObj.gender" required> Male
            </label>
            <label class="radio-inline">
                <input type="radio" name="Gender"
                       value="female" ng-model="myCtrl.userObj.gender" required> Female
            </label>
        </div>

        <!-- Fields: Date of Birth, Address, Country, Contact -->
        <div class="form-group">
            <label class="control-label" for="dob">Date of Birth :</label>
            <input type="date" class="form-control" id="dob" name="dob"
                   ng-model="myCtrl.userObj.dob" ng-required="true">
            <div class="validation" data-ng-show="regForm.dob.$touched || regForm.$submitted">
                <span data-ng-show="regForm.dob.$error.required" class="validation-error">
                    Date of Birth is mandatory
                </span>
                <span data-ng-show="regForm.dob.$error.goodAge" class="validation-error">
                   Date of Birth is Invalid Testing
                </span>
                <span data-ng-show="(regForm.dob.$invalid && regForm.dob.$dirty)" class="validation-error">
                   Date of Birth is Invalid
                </span>
                <span data-ng-hide="(myCtrl.isAgeValid() || !regForm.dob.$dirty)" class="validation-error">
                   You must be above 18 years old to register.
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="address">Address</label>
            <input type="text" class="form-control" id="address" name="address"
                   ng-model="myCtrl.userObj.address" ng-required="true">
            <div class="validation" data-ng-show="regForm.address.$touched || regForm.$submitted">
                <span data-ng-show="regForm.address.$error.required" class="validation-error">
                    Adress is mandatory
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="country">Country</label>
            <input type="text" class="form-control" id="country" name="country"
                   ng-model="myCtrl.userObj.country" ng-required="true">
            <div class="validation" data-ng-show="regForm.country.$touched || regForm.$submitted">
                <span data-ng-show="regForm.country.$error.required" class="validation-error">
                    Country is is mandatory
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="contact">Contact Number:</label>

            <input type="text" class="form-control"
                   id="contact" name="contact" placeholder="Contact Number"
                   ng-pattern="/([0-9\s\-]{7,})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/"
                   ng-model="myCtrl.userObj.contact"
                   ng-required="true" autocomplete="off" />
            <div class="validation" data-ng-show="regForm.contact.$touched || regForm.$submitted">
                <span data-ng-show="regForm.contact.$error.required" class="validation-error">
                    Contact No is is mandatory
                </span>
                <span data-ng-show="(regForm.contact.$error.pattern && regForm.contact.$dirty)"
                      class="validation-error">
                  Contact Number invalid
                </span>
            </div>
        </div>

        <button type="submit" class="btn primary"
                ng-disabled="regForm.$invalid">
            Submit
        </button>
    </form>

</div>